<header style="position : fixed; top:0px; width:100%;">
  <div class="border-bottom" style="background-color: white; margin-bottom: 0px!important; padding-right:5%; padding-left: 5%; display: flex; padding-bottom:10px; padding-top:5px;">
    <div>
      <a class="nav-link text-dark" [routerLink]="['/privacy-policy']"><i class="material-icons">camera_alt</i></a>
      </div>
      <div>
        <a class="nav-link text-dark" [routerLink]="['/privacy-policy']"><span class="VazirMedium">مانیتو</span></a>
      </div>
      <div>
        <a class="nav-link text-dark" (click)="backClicked()" style="cursor:pointer; position:fixed; right:40px;"><mat-icon style="font-size: 30px">messenger</mat-icon></a>
      </div>
  </div>
</header>

<div class="VazirMedium" style="padding-top:70px; padding-left:20%; padding-right:20%; padding-bottom:100px;  margin:auto;">

  

  <ng-container *ngFor="let item of split_data;let _i=index;">
    <div *ngIf="(_i % 4) == 0 || (_i % 4) == 2" style="width:100%;" class="row">

      <div *ngIf="item.length > 0" class="col-4" style="padding: 2px;">
        <img *ngIf="item[0].post_image_data == null" src="/assets/Images/loading.gif" style="width:100%; cursor:pointer;" />
        <img *ngIf="item[0].post_image_data != null" [routerLink]="['/show-post']" [queryParams]="{post_id: item[0].post_id }" [src]=item[0].post_image_data style="width:100%; cursor:pointer;" />
      </div>

      <div *ngIf="item.length > 1" class="col-4" style="padding: 2px;">
        <img *ngIf="item[1].post_image_data == null" src="/assets/Images/loading.gif" style="width:100%;" />
        <img *ngIf="item[1].post_image_data != null"  [routerLink]="['/show-post']" [queryParams]="{post_id: item[1].post_id }" [src]=item[1].post_image_data style="width:100%; cursor:pointer;" />
      </div>

      <div *ngIf="item.length > 2" class="col-4" style="padding: 2px;">
        <img *ngIf="item[2].post_image_data == null" src="/assets/Images/loading.gif" style="width:100%;" />
        <img *ngIf="item[2].post_image_data != null"  [routerLink]="['/show-post']" [queryParams]="{post_id: item[2].post_id }" [src]=item[2].post_image_data style="width:100%; cursor:pointer;" />
      </div>
    </div>

    <div *ngIf="(_i % 4) == 1" style="width:100%;" class="row">

      <div *ngIf="item.length > 0" class="col-8" style="padding: 2px;">
        <img *ngIf="item[0].post_image_data == null" src="/assets/Images/loading.gif" style="width:100%;" />
        <img *ngIf="item[0].post_image_data != null" [routerLink]="['/show-post']" [queryParams]="{post_id: item[0].post_id }" [src]=item[0].post_image_data style="width:100%; cursor:pointer;" />
      </div>
      <div *ngIf="item.length > 1" class="col-4">
        <div *ngIf="item.length > 1" class="col-12" style="padding: 2px;">
          <img *ngIf="item[1].post_image_data == null" src="/assets/Images/loading.gif" style="width:100%;" />
          <img *ngIf="item[1].post_image_data != null" [routerLink]="['/show-post']" [queryParams]="{post_id: item[1].post_id }" [src]=item[1].post_image_data style="width:100%; cursor:pointer;" />
        </div>

        <div *ngIf="item.length > 2" class="col-12" style="padding: 2px;">
          <img *ngIf="item[2].post_image_data == null" src="/assets/Images/loading.gif" style="width:100%;" />
          <img *ngIf="item[2].post_image_data != null" [routerLink]="['/show-post']" [queryParams]="{post_id: item[2].post_id }" [src]=item[2].post_image_data style="width:100%; cursor:pointer;" />
        </div>
      </div>
    </div>

    <div *ngIf="(_i % 4) == 3" style="width:100%;" class="row">
      <div *ngIf="item.length > 0" class="col-4">
        <div *ngIf="item.length > 0" class="col-12" style="padding: 2px;">
          <img *ngIf="item[0].post_image_data == null" src="/assets/Images/loading.gif" style="width:100%;" />
          <img *ngIf="item[0].post_image_data != null" [routerLink]="['/show-post']" [queryParams]="{post_id: item[0].post_id }" [src]=item[0].post_image_data style="width:100%; cursor:pointer;" />
        </div>

        <div *ngIf="item.length > 1" class="col-12" style="padding: 2px;">
          <img *ngIf="item[1].post_image_data == null" src="/assets/Images/loading.gif" style="width:100%;" />
          <img *ngIf="item[1].post_image_data != null" [routerLink]="['/show-post']" [queryParams]="{post_id: item[1].post_id }" [src]=item[1].post_image_data style="width:100%; cursor:pointer;" />
        </div>
        </div>
      <div *ngIf="item.length > 2" class="col-8" style="padding: 2px;">
        <img *ngIf="item[2].post_image_data == null" src="/assets/Images/loading.gif" style="width:100%;" />
        <img *ngIf="item[2].post_image_data != null" [routerLink]="['/show-post']" [queryParams]="{post_id: item[2].post_id }" [src]=item[2].post_image_data style="width:100%; cursor:pointer;" />
      </div>
      </div>
</ng-container>


</div>


