<div style="text-align: center; padding-top: 50px;" class="VazirMedium">
  <form #f="ngForm" novalidate class="example-form" (ngSubmit)="register(f)">

    <h3><b> تکمیل اطلاعات </b></h3>

    <mat-form-field class="example-full-width VazirMedium" style="width:40%;" appearance="fill">
      <mat-label>نام کاربری</mat-label>
      <input matInput name="username" ngModel #username="ngModel" minlength="5" value="" (input)="onUsernameChange($event.target.value)">
      <div *ngIf="username.errors?.minlength" style="color:red;">
        نام کاربری بایستی حداقل 5 کاراکتر باشد
      </div>
      <div *ngIf="!is_user_available && !username.errors?.minlength" style="color:red;">
        این نام کاربری قبلا انتخاب شده است
      </div>
    </mat-form-field>
    <br />
    
    <mat-form-field class="example-full-width VazirMedium" style="width:40%;" appearance="fill" dir="rtl">
      <mat-label>نام</mat-label>
      <input matInput name="name" ngModel #name="ngModel" value="" dir="rtl">
    </mat-form-field>
    <br />
    <mat-form-field class="example-full-width VazirMedium" style="width:40%;" appearance="fill">
      <mat-label>نام خانوادگی</mat-label>
      <input matInput name="family" ngModel #family="ngModel" value="" dir="rtl">
    </mat-form-field>
    <br />
    <mat-form-field class="example-full-width VazirMedium" style="width:40%;" appearance="fill">
      <mat-label>کد دعوت</mat-label>
      <input matInput name="invitation_code" ngModel #invitation_code="ngModel" value="">
    </mat-form-field>
    <br />
    <div class="example-full-width VazirMedium" style="width:40%; margin-left:30%;" appearance="fill">
      <div style="text-align:right;">
        با <a [routerLink]="['/terms-of-conditions']">قوانین</a> موافقم

        <mat-checkbox class="example-margin" name="checked" ngModel #checked="ngModel"></mat-checkbox>
      </div>
    </div>

    <br />
    <button type="submit" class="VazirMedium" style="width:40%;" mat-raised-button color="primary">ادامه</button>
    <br />
    <br />
    <a [routerLink]="['/privacy-policy']"> Privacy Policy</a>
  </form>
</div>
