<header style="position : fixed; top:0px; width:100%;">
  <div class="border-bottom" style="background-color: white; margin-bottom: 0px!important; padding-right:5%; padding-left: 5%; display: flex; padding-bottom:10px; padding-top:5px;">
    <div>
      <a class="nav-link text-dark" [routerLink]="['/privacy-policy']"><i class="material-icons">camera_alt</i></a>
      </div>
      <div>
        <a class="nav-link text-dark" [routerLink]="['/privacy-policy']"><span class="VazirMedium">مانیتو</span></a>
      </div>
      <div>
        <a class="nav-link text-dark" (click)="backClicked()" style="cursor:pointer; position:fixed; right:40px;"><mat-icon style="font-size: 30px">messenger</mat-icon></a>
      </div>
  </div>
</header>

<div class="VazirMedium" style="padding-top:70px; padding-left:20%; padding-right:20%; padding-bottom:100px;  margin:auto;">
  <div *ngFor="let item of data;" style="margin-top:30px;">
    <div style="width:100%;">
      <div style="width:100%; height:50px; cursor:pointer;" [routerLink]="['/profile']" [queryParams]="{user_id: item.user_id}">
        <img *ngIf="item.profile_image_data == null" src="/assets/Images/loading.gif" style="width:50px; height:50px;" />
        <img *ngIf="item.profile_image_data != null"  [src]=item.profile_image_data style="width:50px;  height:50px;" /> {{item.username }}
      </div>
      <div style="width:100%; text-align:center; min-height:200px;">
        <img *ngIf="item.post_image_data == null" src="/assets/Images/loading.gif" style="width:50px; padding-top:75px;" />
        <img *ngIf="item.post_image_data != null"  [src]=item.post_image_data style="width: 100%; margin:auto;" />

      </div>
      <div style="width:100%; height:50px;">{{item.username }}</div>
      <div style="width:100%; text-align:right;" [innerHTML] ="item.caption" ></div>
    </div>
    
  </div>
</div>


