@font-face {
  font-family: vazirFont;
  src: url('../Fonts/Vazir-FD.ttf'), url('../Fonts/Vazir-FD.eot');
  font-weight: normal;
}

@font-face {
  font-family: vazirFont;
  src: url('../Fonts/Vazir-Bold-FD.ttf'), url('../Fonts/Vazir-Bold-FD.eot');
  font-weight: bold;
}


@font-face {
  font-family: vazirFont;
  src: url('../Fonts/Vazir-Light-FD.ttf'), url('../Fonts/Vazir-Light-FD.eot');
  font-weight: lighter;
}

.VazirBold {
  font-family: vazirFont;
  font-size: large;
}

.VazirMedium {
  font-family: vazirFont;
  font-size: medium;
}

.VazirLight {
  font-family: vazirFont;
  font-size: small;
}
