<header style="position: fixed; top: 0px; width: 100%; height: 75px; z-index: 9; opacity: 1; background-color: white; display: flex;" class="border-bottom">
  <div class="VazirBold" style="
    margin: auto;
    margin-right: 10px;

">پست ها</div>
  <a class="nav-link text-dark" (click)="backClicked()" style="cursor: pointer; margin: auto; margin-right: 0px; margin-left: 0px;">
    <mat-icon style="font-size: 30px">arrow_forward</mat-icon>
  </a>
</header>

<div class="VazirMedium" style="    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 100px;
    max-width: 640px;
    margin: auto;">
  <div style="display:flex; padding-bottom:10px;">
    <div>
      <div style="width: 100%;">
        <img *ngIf="post_data.profile_image_data == null" src="/assets/Images/loading.gif" style="width:50px; height:50px;  border-radius: 25rem;" />
        <img *ngIf="post_data.profile_image_data != null" [src]=post_data.profile_image_data style="width:50px;  height:50px;  border-radius: 25rem;" />
      </div>
    </div>
    <div class="VazirBold" style=" margin:auto; margin-left:10px;">
      {{post_data.username}}
    </div>
  </div>
  <div style="width:100%; min-height:200px; text-align: center;">
    <img *ngIf="post_data.post_image_data == null" src="/assets/Images/loading.gif" style="width:50px; padding-top:75px;" />
    <img *ngIf="post_data.post_image_data != null" [src]=post_data.post_image_data style="width:100%;" />
  </div>

  <div style="width:100%;">
    <div class="nav-link text-dark" style="cursor: pointer; margin: auto; margin-right: 0px; margin-left: 0px; padding-left: 0px;">
      <mat-icon *ngIf="post_data.is_liked == '1'" (click)="unlike_post()" style="font-size: 45px; color: red;">favorite</mat-icon>
      <mat-icon *ngIf="post_data.is_liked == '0'" (click)="like_post()" style="font-size: 45px; cursor:pointer; ">favorite_border</mat-icon>
    </div>
  </div>

  <div *ngIf="post_data.like_count > 0" style="width:100%;" class="VazirBold">
    {{post_data.like_count }}
    <span *ngIf="post_data.like_count > 1"> likes </span>
    <span *ngIf="post_data.like_count == 1"> like </span>
  </div>

  <div style="width:100%;" class="VazirMedium">
    {{post_data.username}}
  </div>

  <div style="width: 100%; direction: rtl; text-align: right;" class="VazirMedium">
    {{post_data.caption}}
  </div>

  <div *ngIf="post_data.comment_count > 1" style="    width: 100%;
    direction: rtl;
    text-align: right;
    font-size: small;
    color: gray;
    cursor: pointer;">
    دیدن همه ی {{post_data.comment_count}} نظر
  </div>
  <div style="width: 100%; display:flex;">

    <div class="nav-link text-dark" style="cursor: pointer; margin: auto; margin-right: 0px; margin-left: 0px; padding-left: 0px;">
      <mat-icon *ngIf="post_data.comment_is_liked == '1'" (click)="unlike_comment(post_data.comment_id)" style="font-size: 15px; color: red;">favorite</mat-icon>
      <mat-icon *ngIf="post_data.comment_is_liked == '0'" (click)="like_comment(post_data.comment_id)" style="font-size: 15px; cursor:pointer; ">favorite_border</mat-icon>
    </div>

    <div *ngIf="post_data.comment_user_id > 0" style=" margin:auto; margin-right:0px; direction:rtl; text-align:right; font-family:'vazirFont','Segoe UI Emoji';">
      {{post_data.comment_username}} {{post_data.comment_text}}
    </div>
  </div>


