

<header style="position : fixed; top:0px; width:100%; z-index:99;">
  <div class="border-bottom" style="background-color: white; margin-bottom: 0px!important; padding-right:5%; padding-left: 5%; display: flex; padding-bottom:10px; padding-top:5px;">
    <div>
      <a class="nav-link text-dark" [routerLink]="['/privacy-policy']">+</a>
    </div>
    <div style=" position: fixed; right: 80px; ">
      <a class="nav-link text-dark"><span class="VazirMedium">{{profile_data.username}}</span></a>
    </div>
    <div  style="cursor:pointer; position:fixed; right:40px;">
      
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item style="text-align:right;">
          <span class="VazirMedium" style="padding-right: 10px;">افزایش اعتبار</span>
          <mat-icon>payment</mat-icon>
        </button>
        <button mat-menu-item style="text-align:right;">
          <span class="VazirMedium" style="padding-right: 10px;">تراکنش ها</span>
          <span class="material-icons" style="vertical-align: middle; margin-right: 16px; color: gray; ">
            receipt_long
          </span>
        </button>
        <button mat-menu-item style="text-align:right;">
          <span class="VazirMedium"  style="padding-right: 10px;">راهنما</span>
          <mat-icon>help_outline</mat-icon>
        </button>
        <button mat-menu-item style="text-align:right;">
          <span class="VazirMedium"  style="padding-right: 10px;">امتیازدهی به برنامه</span>
          <mat-icon>stars</mat-icon>
        </button>
        <button [routerLink]="['/terms-of-conditions']"  mat-menu-item style="text-align:right; cursor:pointer;">
          <span class="VazirMedium"  style="padding-right: 10px;">قوانین</span>
          <mat-icon>playlist_add_check</mat-icon>
        </button>
        <button [routerLink]="['/privacy-policy']"  mat-menu-item style="text-align:right; cursor:pointer;">
          <span class="VazirMedium"  style="padding-right: 10px;">Privacy Policy</span>
          <span class="material-icons" style="vertical-align: middle; margin-right: 16px; color: gray; ">
            policy
          </span>
        </button>
        <button mat-menu-item style="text-align:right;">
          <span class="VazirMedium" style="padding-right: 10px;">تنظیمات</span>
          <span class="material-icons" style="vertical-align: middle; margin-right: 16px; color: gray; ">
            settings
          </span>
        </button>
        <button mat-menu-item style="text-align:right;">
          <span class="VazirMedium"  style="padding-right: 10px;">دوستان صمیمی</span>
          <span class="material-icons" style="vertical-align: middle; margin-right: 16px; color: gray; ">
            checklist
          </span>
        </button>
        <button mat-menu-item style="text-align:right;">
          <span class="VazirMedium" style="padding-right: 10px;">خروج</span>
          <span class="material-icons" style="vertical-align: middle; margin-right: 16px; color: gray; ">
            logout
          </span>
        </button>
      </mat-menu>

    </div>
  </div>
</header>

<div style="padding-top:70px; padding-left:20px; padding-right:20px; padding-bottom:100px; max-width:640px;  margin:auto;">
  <div style="width:100%; display:flex;">
    <div style="width:25%; text-align: center;">
      <div style="width:100%;">
        <img *ngIf="profile_image_data == null" src="/assets/Images/loading.gif" style="width:100px; border-radius: 25rem;" />
        <img *ngIf="profile_image_data != null" [src]=profile_image_data style="width:100px; border-radius: 25rem;" />
      </div>
    </div>
    <div style="width:25%; text-align: center; margin:auto;">
      <span *ngIf="profile_data.post_count == null"> 0 </span>
      <span *ngIf="profile_data.post_count != null">{{profile_data.post_count}}</span>
      <br />
      Posts
    </div>

    <div [routerLink]="['/followers']" [queryParams]="{user_id: _user_id}" style="width:25%; text-align: center; margin:auto; cursor:pointer;">
      <span *ngIf="profile_data.follower_count == null"> 0 </span>
      <span *ngIf="profile_data.follower_count != null">{{profile_data.follower_count}}</span>
      <br />
      Followers
    </div>

    <div [routerLink]="['/following']" [queryParams]="{user_id: _user_id}" style="width:25%; text-align: center; margin:auto; cursor:pointer;">
      <span *ngIf="profile_data.following_count == null"> 0 </span>
      <span *ngIf="profile_data.following_count != null">{{profile_data.following_count}}</span>
      <br />
      Following
    </div>
  </div>
  <p></p>
  <div *ngIf="profile_data.user_type == 1 || profile_data.user_type == 3" style="width:40%; text-align:center;">
    <span>{{profile_data.name}} {{profile_data.lastname}}</span>
    <p></p>
    <a href="mailto: {{user_email}}">{{user_email}}</a>
  </div>
  <div *ngIf="profile_data.user_type == 2" style="width:100%; text-align:center; display:flex;">
    <div style="width:40%;">
      <span style="font-weight:bold;">{{profile_data.name}}</span>
      <p>
        <span>{{profile_data.lastname}}</span>
      </p>
      <div style="display: flex; justify-content: center;">
        <div *ngIf="Namad_Status != null" style="padding-left: 5px; padding-right :5px;">{{Namad_Status.value}}</div>
        <div *ngIf="Namad_Status_id != null && Namad_Status_id.value == 'A'" style="width:20px; height:20px; background-color:green; border-radius:2rem;"></div>
        <div *ngIf="Namad_Status_id != null && Namad_Status_id.value != 'A'" style="width:20px; height:20px; background-color:red; border-radius:2rem;"></div>
      </div>
      <div style="display: flex; justify-content: center; direction:rtl;">
        <div style="padding-left: 5px; padding-right :5px;">نوع بازار : </div>
        <div *ngIf="Market_Type != null" style="padding-left: 5px; padding-right :5px;">{{Market_Type.value}}</div>
      </div>
      <div style="display: flex; justify-content: center;">
        <div style="padding-left: 5px; padding-right :5px;">RSI : </div>
        <div *ngIf="RSI_Data != null" style="padding-left: 5px; padding-right :5px;">{{RSI_Data.value | number}}</div>
        <div style="padding-left: 5px; padding-right :5px;">MACD : </div>
        <div *ngIf="MACD_Status != null" style="padding-left: 5px; padding-right :5px;">{{MACD_Status.value}}</div>
      </div>
      <div style="display: flex; justify-content: center; direction:rtl;">
        <div style="padding-left: 5px; padding-right :5px;">پیش بینی فردا : </div>
        <div *ngIf="AI_Predicted != null" style="padding-left: 5px; padding-right :5px;">{{AI_Predicted.value | number}}</div>
      </div>
    </div>
    <div style="width:60%;">
      <div style=" display: flex;  width: 100%; direction: rtl; ">
        <div style="width: 70%; text-align: right;" *ngIf="Last_Price != null">آخرین قیمت : {{Last_Price.value | number}}</div>
        <div style="width: 30%; text-align: center; color:green;" *ngIf="Last_Price_Change != null && Last_Price_Change.value >= 0 ">{{Last_Price_Change.value}} %</div>
        <div style="width: 30%; text-align: center; color:red;" *ngIf="Last_Price_Change != null && Last_Price_Change.value < 0 ">{{Last_Price_Change.value}} %</div>
      </div>
      <div style=" display: flex;  width: 100%; direction: rtl; ">
        <div style="width: 70%; text-align: right;" *ngIf="Last_Price != null">قیمت پایانی : {{Close_Price.value | number}}</div>
        <div style="width: 30%; text-align: center; color:green;" *ngIf="Close_Price_Change != null && Close_Price_Change.value >= 0 ">{{Close_Price_Change.value}} %</div>
        <div style="width: 30%; text-align: center; color:red;" *ngIf="Close_Price_Change != null && Close_Price_Change.value < 0 ">{{Close_Price_Change.value}} %</div>
      </div>
      <div style=" display: flex; width: 100%; direction: rtl; ">
        <div style="width: 100%; text-align: right;" *ngIf="Volume != null">حجم معامله : {{short_number(Volume.value, 3)}}</div>
      </div>
      <div style=" display: flex;  width: 100%; direction: rtl; ">
        <div style="width: 100%; text-align: right;" *ngIf="Base_Volume != null">حجم مبنا : {{short_number(Base_Volume.value, 3)}}</div>
      </div>
      <div style=" background: beige; width: 100%; height: 140px; border-radius: .5rem; display: flex; ">
        <div style="width:50%;border-right: dashed;border-color: grey;border-width: 2px;">
          <div style="margin-top: 5px;width: 100%;font-weight: bold;font-size: small;">
            حقوقی
          </div>
          <div style="margin-top:5px; width: 90%;height: 25px; font-size:small; background: lightgray;margin-left: 5%;border-radius: .4rem;display: flex;position: relative;direction: rtl;">
            <div style="width: 60%; z-index: 2;">خرید</div>
            <div style="width: 40%; z-index: 2;">{{short_number(Hoghoghi_Volume_Buy.value, 3)}}</div>
            <div [ngStyle]="{'width':  + '%'}" style="z-index: 1;right: 0;top: 0;background: green; float: left;position: absolute;height: 100%;border-radius: 0.4rem;"></div>
          </div>
          <div style="margin-top:5px; width: 90%;height: 25px; font-size:small; margin-left: 5%; display: flex;position: relative;direction: rtl;">
            <div style="width: 60%; z-index: 2;" *ngIf="Hoghoghi_Fluctuation_Buy != null">{{Hoghoghi_Fluctuation_Buy.value * 100 | number}} % </div>
            <div style="width: 40%; z-index: 2;" *ngIf="Hoghoghi_Count_Buy != null">({{Hoghoghi_Count_Buy.value}})</div>
          </div>
          <div style="margin-top:5px; width: 90%;height: 25px; font-size:small; background: lightgray;margin-left: 5%;border-radius: .4rem;display: flex;position: relative;direction: rtl;">
            <div style="width: 60%; z-index: 2;">فروش</div>
            <div style="width: 40%; z-index: 2;">{{short_number(Hoghoghi_Volume_Sell.value, 3)}}</div>
            <div [ngStyle]="{'width': Hoghoghi_Fluctuation_Sell.value * 100 + '%'}" style="z-index: 1;right: 0;top: 0;background: red; float: left;position: absolute;height: 100%;border-radius: 0.4rem;"></div>
          </div>
          <div style="margin-top:5px; width: 90%;height: 25px; font-size:small; margin-left: 5%; display: flex;position: relative;direction: rtl;">
            <div style="width: 60%; z-index: 2;" *ngIf="Hoghoghi_Fluctuation_Sell != null">{{Hoghoghi_Fluctuation_Sell.value * 100 | number}} % </div>
            <div style="width: 40%; z-index: 2;" *ngIf="Hoghoghi_Count_Sell != null">({{Hoghoghi_Count_Sell.value}})</div>
          </div>
        </div>
        <div style="width:50%;">
          <div style="margin-top: 5px;width: 100%;font-weight: bold;font-size: small;">
            حقیقی
          </div>
          <div style="margin-top:5px; width: 90%;height: 25px; font-size:small; background: lightgray;margin-left: 5%;border-radius: .4rem;display: flex;position: relative;direction: rtl;">
            <div style="width: 60%; z-index: 2;">خرید</div>
            <div style="    width: 70%;  z-index: 2; ">{{short_number(Haghighi_Volume_Buy.value, 3)}}</div>
            <div [ngStyle]="{'width': Haghighi_Fluctuation_Buy.value * 100 + '%'}" style="z-index: 1;right: 0;top: 0;background: green; float: left;position: absolute;height: 100%;border-radius: 0.4rem;"></div>
          </div>
          <div style="margin-top:5px; width: 90%;height: 25px; font-size:small; margin-left: 5%; display: flex;position: relative;direction: rtl;">
            <div style="width: 60%; z-index: 2;" *ngIf="Haghighi_Fluctuation_Buy != null">{{Haghighi_Fluctuation_Buy.value * 100 | number}} % </div>
            <div style="width: 40%; z-index: 2;" *ngIf="Haghighi_Count_Buy != null">({{Haghighi_Count_Buy.value}})</div>
          </div>
          <div style="margin-top:5px; width: 90%;height: 25px; font-size:small; background: lightgray;margin-left: 5%;border-radius: .4rem;display: flex;position: relative;direction: rtl;">
            <div style="width: 60%; z-index: 2;">فروش</div>
            <div style="width: 40%; z-index: 2;">{{short_number(Haghighi_Volume_Sell.value, 3)}}</div>
            <div [ngStyle]="{'width': Haghighi_Fluctuation_Sell.value * 100 + '%'}" style="z-index: 1;right: 0;top: 0;background: red; float: left;position: absolute;height: 100%;border-radius: 0.4rem;"></div>
          </div>
          <div style="margin-top:5px; width: 90%;height: 25px; font-size:small; margin-left: 5%; display: flex;position: relative;direction: rtl;">
            <div style="width: 60%; z-index: 2;" *ngIf="Haghighi_Fluctuation_Sell != null">{{Haghighi_Fluctuation_Sell.value * 100 | number}} %</div>
            <div style="width: 40%; z-index: 2;" *ngIf="Haghighi_Count_Sell != null">({{Haghighi_Count_Sell.value}})</div>
          </div>
        </div>
      </div>
      <p></p>
    </div>
  </div>
  <p></p>
  <div style="width:100%;">
    <button class="VazirMedium" style="width:100%;" mat-stroked-button color="link" (click)="unfollow_user(item.id)">ویرایش پروفایل</button>
  </div>
  <p>
  </p>
  <div *ngIf="profile_data.user_type == 1" style="width:100%">
    <mat-tab-group>
      <div  style="width: 25%;">
        <mat-tab>
          <ng-template mat-tab-label style="min-width:50px!important">
            <mat-icon class="example-tab-icon">grid_on</mat-icon>
            <br />
            <span class="VazirMedium">پست ها</span>
          </ng-template>
          <div style="width:100%;" class="row">
            <div *ngFor="let item of profile_posts;" class="col-4" style="padding: 2px;">
              <img *ngIf="item.post_image_data == null" src="/assets/Images/loading.gif" style="width:100%;" />
              <img *ngIf="item.post_image_data != null" [routerLink]="['/show-post']" [queryParams]="{post_id: item.post_id}" [src]=item.post_image_data style="width:100%; cursor:pointer;" />
            </div>
          </div>
        </mat-tab>
      </div>

      <div  *ngIf="_user_id == profile_user_id" style="width: 25%;">
        <mat-tab>
          <ng-template mat-tab-label style="min-width:50px!important">
            <span class="material-icons">
              shopping_cart
            </span>
            <br />
            <span class="VazirMedium">سبد دارایی</span>
          </ng-template>
          <div style="width:100%;text-align:center;background-color: lightgray;margin-top: 10px;padding-top: 10px;border: solid;border-color: gray;border-width: 1px;">
            <div style="width: 100%; font-family:Vazir; font-weight: bold; font-size:medium;">
              ارزش کل دارایی ها
            </div>

            <div style=" font-family:Vazir; display: flex; padding-top: 10px; padding-bottom: 10px; ">
              <div class="col-4">
                <div style="font-weight:bold;" class="VazirMedium" *ngIf="private_basket != null">{{private_basket.total_value_CHF | number}}</div>
                
                فرانک
              </div>
              <div class="col-4" style="  border-right: solid;  border-left: solid;  border-width: 1px;  border-color: gray;">
                <div  style="font-weight:bold;"  class="VazirMedium" *ngIf="private_basket != null">{{private_basket.total_value_USD | number}}</div>
               
                دلار
              </div>
              <div class="col-4">
                <div  style="font-weight:bold;" class="VazirMedium" *ngIf="private_basket != null">{{private_basket.total_value | number}}</div>
               
                ریال
              </div>
            </div>

            <div style="width: 100%;text-align: center;padding-bottom: 10px;border-top: solid;border-width: 1px;border-color: gray;">
              <div style="width: 100%; padding-top:10px;">
                <button class="VazirMedium" style="width:80%;" [routerLink]="['/login']" mat-raised-button color="primary">نمایش جزییات سبد</button>
              </div>
              <div style="width:100%;">
                <div echarts [options]="private_rial_options" theme="macarons" class="demo-chart"></div>
              </div>
              <div style="width:100%;">
                <div echarts [options]="private_usd_options" theme="macarons" class="demo-chart"></div>
              </div>
              <div style="width:100%;">
                <div echarts [options]="private_chf_options" theme="macarons" class="demo-chart"></div>
              </div>
            </div>
          </div>
          <div style="width:100%; text-align:center; padding-top: 10px;">
            <div style=" height: 100px; border: solid; border-radius: 0.5rem; color: gray; display: flex; ">
              <span class="material-icons" style="font-size: 45px;color: gray;margin: auto;">
                add_circle_outline
              </span>
            </div>
          </div>
        </mat-tab>
      </div>

      <div  style="width: 25%;">
        <mat-tab>
          <ng-template mat-tab-label style="min-width:50px!important">
            <span class="material-icons">
              production_quantity_limits
            </span>
            <br />
            <span class="VazirMedium">سبد سهام</span>
          </ng-template>
          <div style="width:100%;text-align:center;">
           
            <div *ngFor="let basket of user_baskets;" style="width: 100%;text-align: center;padding-bottom: 10px;">
              <app-basket-details [basket]="basket"></app-basket-details>
            </div>
          </div>
          <div style="width:100%; text-align:center; padding-top: 10px;">
            <div style=" height: 100px; border: solid; border-radius: 0.5rem; color: gray; display: flex; ">
              <span class="material-icons" style="font-size: 45px;color: gray;margin: auto;">
                add_circle_outline
              </span>
            </div>
          </div>
        </mat-tab>
      </div>

      <div *ngIf="_user_id == profile_user_id" style="width: 25%;">
        <mat-tab>
          <ng-template mat-tab-label style="min-width:50px!important">
            <span class="material-icons">
              add_shopping_cart
            </span>
            <br />
            <span class="VazirMedium">اشتراک</span>
          </ng-template>
          <div style="width:100%; text-align:center; padding-top: 10px;">
            <div *ngFor="let basket of user_shared_baskets;" style="width: 100%;text-align: center;padding-bottom: 10px;">
              <app-basket-details [basket]="basket"></app-basket-details>
            </div>
            <div style=" height: 100px; border: solid; border-radius: 0.5rem; color: gray; display: flex; ">
              <span class="material-icons" style="font-size: 45px;color: gray;margin: auto;">
                add_circle_outline
              </span>
            </div>
          </div>
        </mat-tab>
      </div>
    </mat-tab-group>

  </div>
  <div *ngIf="profile_data.user_type == 2 || profile_data.user_type == 3" style="width:100%">
    <div style="width:100%;" class="row">
      <div *ngFor="let item of profile_posts;" class="col-4" style="padding: 2px;">
        <img *ngIf="item.post_image_data == null" src="/assets/Images/loading.gif" style="width:100%;" />
        <img *ngIf="item.post_image_data != null" [routerLink]="['/show-post']" [queryParams]="{post_id: item.post_id}" [src]=item.post_image_data style="width:100%; cursor:pointer;" />
      </div>
    </div>

  </div>
</div>


