<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container" style="margin-right: 0px;">

      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" >
        <ul class="navbar-nav flex-grow">
          <li class="nav-item">
            <a class="nav-link text-dark" [routerLink]="['/privacy-policy']">Privacy Policy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" (click)="backClicked()" style="cursor:pointer;"><mat-icon style="font-size: 30px">arrow_forward</mat-icon></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<div dir="rtl" style="text-align: right; padding:25px;" class="VazirMedium">
  <div [innerHTML]="policy">
  </div>
</div>
