<header style="position: fixed; top: 0px; width: 100%; height: 75px; z-index: 9; opacity: 1; background-color: white; display: flex;" class="border-bottom">
  <div style="
    margin: auto;
    margin-right: 10px;
">فعالیت ها</div>
</header>

<div class="VazirMedium" style="padding-top:70px; padding-left:20%; padding-right:20%;">
  <div *ngFor="let item of data;" style="margin-top: 30px;">
    <div style="width: 100%;">
      <div style="width:100%; direction: rtl;text-align: right; display: flex;">
        <div>
          <img *ngIf="item.profile_image_data == null" src="/assets/Images/loading.gif" style="width:50px;border-radius: 25rem;margin: auto;margin-right: 10px;" />
          <img *ngIf="item.profile_image_data != null" [src]=item.profile_image_data style="width:50px;border-radius: 25rem;margin: auto;margin-right: 10px;" />
      </div>
        <div style="margin:auto; margin-right: 10px;">
          <span *ngIf="item.actor_type_id == 1" style="font-weight: bold;"> {{ item.actor_username }} </span>
          <span> {{ item.action_text }}  </span>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="VazirMedium" style="    padding-top: 30px;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 100px;">
  <div style="width:100%; margin-right: 10px; font-weight: bold; text-align: right;"> پیشنهاداتی برای شما</div>
  <div *ngFor="let item of suggest_data;" style="margin-top: 30px;">
    <div style="width: 100%;">
      <div style="width:100%; direction: rtl;text-align: right; display: flex;">
        <div>
          <img *ngIf="item.profile_image_data == null" src="/assets/Images/loading.gif" style="width:50px;border-radius: 25rem;margin: auto;margin-right: 10px;" />
          <img *ngIf="item.profile_image_data != null" [src]=item.profile_image_data style="width:50px;border-radius: 25rem;margin: auto;margin-right: 10px;" />
        </div>
        <div style="margin:auto; margin-right: 10px;">
          <span style="font-weight: bold;"> {{ item.name }} </span>
          <br/>
          <span style="color: gray; font-size: small;"> {{ item.lastname }}  </span> <span  style="    color: gray;
    font-size: small;
" *ngIf="item.lastname == '' "> نماد  </span>
        </div>
        <div style="display:flex;">
          <button class="VazirMedium" style="cursor:pointer;" mat-raised-button color="primary" (click)="follow_user(item.ID)">Follow</button>
          <mat-icon  (click)="remove_from_suggestion_list(item.ID)" style="font-size: 20px; margin: auto; margin-right: 10px; cursor:pointer; ">close</mat-icon>
        </div>
      </div>
    </div>
  </div>
</div>
