<body class="VazirMedium">
  <!--<app-nav-menu></app-nav-menu>-->
  <div>
    <router-outlet></router-outlet>
  </div>

  <footer style="position : fixed; bottom:0px; width:100%;
    z-index:9;">
    <div class="border-top" style="    text-align: center;
    background-color: white;
    margin-bottom: 0px !important;
    padding-right: 5%;
    padding-left: 5%;
    display: flex;
    padding-bottom: 10px;
    padding-top: 5px;">
      <div class="nav-item" style="width: 20%;">
        <a class="nav-link text-dark" [routerLink]="['/home-page']"><mat-icon style="font-size: 35px">home_filled</mat-icon></a>
      </div>
      <div class="nav-item" style="width: 20%;">
        <a class="nav-link text-dark" [routerLink]="['/explore']"><mat-icon style="font-size: 35px; font-weight:bold;">search</mat-icon></a>
      </div>
      <div class="nav-item" style="width: 20%;">
        <a class="nav-link text-dark" (click)="backClicked()" style="cursor:pointer;"><mat-icon style="font-size: 30px">add_box</mat-icon></a>
      </div>
      <div class="nav-item" style="width: 20%;">
        <a class="nav-link text-dark" [routerLink]="['/show-notifications']"  style="cursor:pointer;"><i class="fa fa-heart-o" aria-hidden="true" style="font-size:30px;"></i></a>
      </div>
      <div class="nav-item" style="width: 20%;">
        <a class="nav-link text-dark" [routerLink]="['/profile']" style="cursor:pointer;"><i class="fa fa-user-circle" aria-hidden="true" style="font-size:30px;"></i></a>
      </div>
    </div>
  </footer>

</body>
