<div style="text-align: center; padding-top: 200px;">

  <h1>مانیتو</h1>

  <br />

  <button class="VazirMedium" style="width:40%;" [routerLink]="['/login']" mat-raised-button color="primary">ورود یا ثبت نام</button>

  <br />

  <div style="margin-bottom: 20px;
    position: fixed;
    bottom: 0px;
    text-align: center;
    width: 100%;
">
    <a [routerLink]="['/privacy-policy']" > Privacy Policy</a>
  </div>

</div>
