<div style="text-align: center;" class="VazirMedium">
  <form #f="ngForm" novalidate class="example-form" (ngSubmit)="register(f)">

    <mat-icon style="font-size: 75px">account_circle</mat-icon>
    <br />
    <mat-form-field class="example-full-width VazirMedium" style="width:40%;" appearance="fill">
      <mat-label>شماره موبایل</mat-label>
      <input matInput name="mobile" ngModel #mobile="ngModel" placeholder="برای مثال : 09123456789" value="">
    </mat-form-field>
    <br />
    <div *ngIf="!readyToSend" style="width:100%; text-align:center;">
      <img src="/assets/Images/loading.gif" style="width:50px; padding:10px;" />
      <br />
      <span  class="VazirMedium"> در حال ارسال کردن کد تایید</span>
    </div>

    <button type="submit" *ngIf="readyToSend" class="VazirMedium" style="width:40%;" mat-raised-button color="primary">ادامه</button>

  </form>
</div>

