<div style="text-align: right;" class="VazirMedium">
  <h2 mat-dialog-title class="VazirMedium" style="color: red;">خطای سرور</h2>
  <mat-dialog-content class="mat-typography">
    <p class="VazirMedium">
      خطای سمت سرور رخ داده است
    </p>

  </mat-dialog-content>
  <mat-dialog-actions align="left">
    <button mat-button mat-dialog-close  class="VazirMedium">بستن</button>
  </mat-dialog-actions>
</div>
