<div style="    display: flex;
    width: 100%;
    background-color: lightgray;
    margin-top: 10px;
    border: solid;
    border-color: gray;
    border-width: 1px;">
  <div class="VazirLight" style="    width: 10%;
    font-family: Vazir;
    text-align: center;">
    <div style=" height:75px; display:flex;" [ngStyle]="{'background-color': (basket.one_week_profit == null || basket.one_week_profit >= 0)? 'lightgreen' : 'indianred'}">
      <div style="margin:auto;">
        <div class="VazirLight" *ngIf="basket.one_week_profit != null">{{basket.one_week_profit | number : '1.2-2'}} % </div>
        <div class="VazirLight" *ngIf="basket.one_week_profit == null"> 0 % </div>
        <div class="VazirLight">یک هفته</div>
      </div>
    </div>
    <div [ngStyle]="{'background-color': (basket.one_month_profit == null || basket.one_month_profit >= 0)? 'lightgreen' : 'indianred'}"
         style="margin-bottom: 1px; margin-top: 1px; height:75px; display:flex;">
      <div style="margin:auto;">
        <div class="VazirLight" *ngIf="basket.one_month_profit != null">{{basket.one_month_profit | number : '1.2-2'}} % </div>
        <div class="VazirLight" *ngIf="basket.one_month_profit == null"> 0 % </div>
        <div class="VazirLight">یک ماه</div>
      </div>
    </div>
    <div style=" height:75px; display:flex;" [ngStyle]="{'background-color': (basket.three_months_profit == null || basket.three_months_profit >= 0)? 'lightgreen' : 'indianred'}">
      <div style="margin:auto;">
        <div class="VazirLight" *ngIf="basket.three_months_profit != null">{{basket.three_months_profit | number : '1.2-2'}} % </div>
        <div class="VazirLight" *ngIf="basket.three_months_profit == null"> 0 % </div>
        <div class="VazirLight">سه ماه</div>
      </div>
    </div>
  </div>
  <div style="    width: 90%;
    position: relative;
    height: 225px;">
    <div style="display:flex; direction:rtl; position: relative; width:100%;">
      <div style=" padding-right: 15px;">
        <mat-icon style="font-size:36px; ">shopping_basket</mat-icon>
      </div>
      <div style="
    font-family: 'vazirFont';
    ">
        {{basket.info.name}}
        <br />
        ({{basket.info.item_count}} سهم)
      </div>
      <div style="
    position: absolute;
    left: 0px;
    padding-left: 10px;
    font-family: 'vazirFont';
    margin: auto;
">
        {{basket.info.total_value | number}} ریال

        <br />
        ارزش کل سبد
      </div>
    </div>
    <div style="width:100%; max-height:200px; position: absolute;top: 0px;">
      <div echarts [options]="basket_options" theme="macarons" class="demo-chart" style="height: 200px!important;"></div>
    </div>
    <div>

    </div>
  </div>
  <div>

  </div>
</div>

