<header style="position: fixed; top: 0px; width: 100%; height: 75px; z-index: 9; opacity: 1; background-color: white; display: flex;" class="border-bottom">
  <div style="
    margin: auto;
    margin-right: 10px;
">{{profile_data.username}}</div>
  <a class="nav-link text-dark" (click)="backClicked()" style="cursor: pointer; margin: auto; margin-right: 0px; margin-left: 0px;">
    <mat-icon style="font-size: 30px">arrow_forward</mat-icon>
  </a>
</header>

<div class="VazirMedium" style="padding-top:70px; padding-left:20px; padding-right:20px; padding-bottom:100px; max-width:640px; margin:auto;">
  <div *ngFor="let item of data;" style="margin-top:30px;">
    <div style="    max-width: 450px;
    display: flex;
    margin: auto;">
      <div  [routerLink]="['/profile']" [queryParams]="{user_id: item.id}" style="width:25%; cursor:pointer;">
        <img *ngIf="item.profile_image_data == null" src="/assets/Images/loading.gif" style="width:75px;  border-radius: 25rem;" />
        <img *ngIf="item.profile_image_data != null" [src]=item.profile_image_data style="width:75px;  border-radius: 25rem;" />
      </div>

      <div  [routerLink]="['/profile']" [queryParams]="{user_id: item.id}" *ngIf="item.user_type == 1 || item.user_type == 3" style="width: 50%; margin:auto; text-align:left; cursor:pointer;">{{item.username }} <br /> {{item.name }} {{item.lastname }}</div>
      <div  [routerLink]="['/profile']" [queryParams]="{user_id: item.id}" *ngIf="item.user_type == 2" style="width: 50%; margin:auto; text-align:left; cursor:pointer;">{{item.name }} <br /> {{item.lastname }}</div>

      <div *ngIf="item.is_followed == '1' && item.username != profile_data.username" style="width: 25%; margin:auto;">
        <button class="VazirMedium" style="width:100%;" mat-stroked-button color="link" (click)="unfollow_user(item.id)">Following</button>
      </div>
      <div *ngIf="item.is_followed == '0'" style="width: 25%; margin:auto;">
        <button class="VazirMedium" style="width:100%;" mat-raised-button color="primary" (click)="follow_user(item.id)">Follow</button>
      </div>
    </div>

  </div>
</div>
