<div style="text-align: center; padding-top: 100px;" class="VazirMedium">
  <form #f="ngForm" novalidate class="example-form" (ngSubmit)="register(f)">

    <h3><b> کد فعالسازی </b></h3>
    <br />
    <p>کد ارسال شده به شماره {{mobile_number}} را وارد کنید</p>

    <p><a (click)="resend_code()" style="cursor: pointer; color: blue;">ارسال دوباره</a></p>
    
    <mat-form-field class="example-full-width VazirMedium" style="width:40%;" appearance="fill">
      <mat-label>کد فعالسازی</mat-label>
      <input matInput name="code" ngModel #code="ngModel" value="">
    </mat-form-field>
    <br />
    <button type="submit" class="VazirMedium" style="width:40%;" mat-raised-button color="primary">ادامه</button>

  </form>
</div>
