/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */

@import 'app/shared/styles/FontStyles.css';

a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.mat-tab-label, .mat-tab-label-active {
  min-width: 0 !important;
  padding: 3px !important;
  margin: 3px !important;
  width:25%;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/*html, body { height: 100%; }*/
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
